@import "tailwindcss";

@theme {
    --color-primary: hsl(258, 81%, 62%);
    --color-primary-foreground: hsl(210 40% 98%);

    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
    --radius-3xl: 1.5rem;
}

:root {
    --background: #f8fafc;
    --foreground: #0f172a;
    --card: #ffffff;
    --card-foreground: #0f172a;
    --border: #f1f5f9;
    --input: #f1f5f9;
    --primary: hsl(258, 81%, 62%);
    --primary-foreground: 210 40% 98%;
    --secondary: #64748b;
    --muted: #94a3b8;
}

.dark {
    --background: #020617;
    --foreground: #f8fafc;
    --card: #0f172a;
    --card-foreground: #f8fafc;
    --border: #1e293b;
    --input: #1e293b;
    --secondary: #94a3b8;
    --muted: #9da4ad;
}

@layer base {
    body {
        background-color: var(--background);
        color: var(--foreground);
        @apply antialiased transition-colors duration-300;
        font-family: 'Inter', sans-serif;
    }
}

.glass-card {
    background-color: var(--card);
    border: 1px solid var(--border);
    color: var(--card-foreground);
    @apply rounded-[8px] shadow-sm transition-all duration-300;
}

.sidebar-link-active {
    @apply bg-primary text-white shadow-lg shadow-primary/30;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--border);
    @apply rounded-full transition-colors;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}