@import "tailwindcss";

@theme {
  --color-primary: #dda15e;
  --color-primary-foreground: #292524;

  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
}

:root {
  --background: #fefae0;
  --foreground: #283618;

  --card: #ffffff;
  --card-foreground: #283618;

  --border: #dda15e;
  --input: #faedcd;

  --primary: #dda15e;
  --primary-foreground: #283618;

  --secondary: #e9edc9;
  --secondary-foreground: #283618;

  --muted: #606c38;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased transition-colors duration-300;
    font-family: "Inter", sans-serif;
  }
}

.glass-card {
  background-color: var(--card);
  border: 1px solid var(--border);
  color: var(--card-foreground);
  @apply rounded-[8px] shadow-sm transition-all duration-300;
}

.sidebar-link-active {
  @apply bg-primary text-[var(--primary-foreground)] shadow-lg shadow-primary/30;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--border);
  @apply rounded-full transition-colors;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
